<div class="container"> 
  <div class="ui card">

    <h1>Teams Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members"> {{member}} </li>
    </ul>

    <div class="add-members">
      <input type="text" #addMemberInput placeholder="Enter Names" (input)="onInput(addMemberInput.value)" [value]="newName" />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="generate">
      <input type="text" placeholder="# of teams" #teamNumbers (input)="onInputTeams(teamNumbers.value)" [value]="numberOfTeams" />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  
  <div *ngIf="teams.length" class="teamsContainer">
    <app-team *ngFor="let team of teams; let i = index;" [team]="team" [index]="i">
    </app-team>
  </div>

</div>